<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogO</title>
    <link rel="stylesheet" href="/Styles/login.css">
</head>
<body>

    <div class="box-log">
        <div class="top">
            <h1>Blog<span class="highlight">O</span></h1>
        </div>

        <form action="/user/register/index" method="post">
            <div class="uname">
                <input type="text" name="username" id="username" placeholder="user_name">
            </div>

            <div class="pswd">
                <input type="password" name="password" id="password" placeholder="password">
            </div>

            <div class="btns">
                <button class="signin">Sign-in</button>
            </div>

            <div class="log-box">
                <hr>
                <p>or</p>
                <a href="/user/login">Log-in</a>
        </form>
    </div>
</body>
</html>