.content a{
    color: black;
}

img{
    width : 780px;
    margin-left: 150px;
}

.mini-info{
    margin-left: 400px;
    font-size: 1.5rem;
    display: flex;
}

.mini-info a{
    text-decoration: none;
}

.edits{
    color: white;
}

.uname{
    color : grey
}

